$editor-bg: #FCFCFC;
$editor-fg: #5C6166;
$editor-line: #8A91991A;

$ui-bg: #F8F9FA;
$ui-fg: #8A9199;

$syntax-keyword: #FA8D3E;
$syntax-x: #4CBD99;
$syntax-y: #F07171;
$syntax-total: #A37ACC;
$syntax-actor: #F2AE49;
$syntax-payout: #399EE6;

$border: solid 2px $editor-line;
$font: 'Open Sans', 'Helvetica', 'Arial';

@media only screen and (min-width: 500px) {
    .xy-game {
        width: 500px;
    }
}

body {
    color: $editor-fg;
    background-color: $editor-bg;

    font-family: $font;
}

.xy-game {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#button-payout, .select-choice {
    color: $syntax-payout;
    background-color: $ui-bg;

    border: solid 2px $syntax-payout;
    border-radius: 5px
}

#button-payout:hover {
    color: $ui-bg;
    background-color: $syntax-payout;
}

h1 {
    color: $syntax-keyword;
}

td {
    color: $ui-fg;
    background-color: $ui-bg;

}

table, tr {
    border-bottom: $border;
    border-collapse: collapse;
}

td {
    text-align: right;
}

.th-x {
    color: $syntax-x;
}

.th-y {
    color: $syntax-y;
}

.th-money {
    color: $syntax-total;
}

.th-actor {
    color: $syntax-actor;
}